<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>Signin Template for Bootstrap</title>
		<!-- Bootstrap core CSS -->
		<link href="../static/asserts/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.css}" rel="stylesheet">
		<!-- Custom styles for this template -->
		<link href="../static/asserts/css/signin.css" th:href="@{/asserts/css/signin.css}" rel="stylesheet">
	</head>

	<body class="text-center">
		<form class="form-signin" action="root/login" th:action="@{/root/login}" method="post">
			<img class="mb-4" src="../static/asserts/img/musclemen-1.svg" th:src="@{/asserts/img/musclemen-1.svg}" alt="" width="72" height="72">
			<h1 class="h3 mb-3 font-weight-normal" >登录后台</h1>
			<p style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
			<label class="sr-only">账号</label>
			<input type="text" name="rootName" class="form-control" placeholder="admin" required="" autofocus="">
			<label class="sr-only">密码</label>
			<input type="password" name="rootPassword" class="form-control" placeholder="3333" required="">
			<div class="checkbox mb-3">
				<label>
          <input type="checkbox" name="rememberMe">记住我
        </label>
			</div>
			<button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
			<p class="mt-5 mb-3 text-muted">© 2020-2022</p>
			<a class="btn btn-sm">中文</a>
			<a class="btn btn-sm">English</a>
		</form>

	</body>

</html>